---
const { name } = Astro.props;
---

<div class="flex items-center space-x-2">
  <div class="avatar w-8 h-8" data-size="large">
    <svg
      viewBox="0 0 512 512"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="w-full h-full"
      ><g clip-path="url(#clip0_1_2)"
        ><circle cx="256" cy="256" r="256" fill="#353c3f"></circle><circle
          cx="256.5"
          cy="156.5"
          r="96.5"
          fill="#fffffd"></circle><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M184.054 265.061C119.563 287.258 68.4806 338.265 46.1802 402.707C92.4724 468.791 169.19 512 256 512C343.228 512 420.266 468.374 466.486 401.751C444.013 337.76 393.117 287.148 328.946 265.061C308.22 278.919 283.304 287 256.5 287C229.696 287 204.78 278.919 184.054 265.061Z"
          fill="#667075"></path></g
      ><defs
        ><clipPath id="clip0_1_2"
          ><rect width="512" height="512" fill="#101415"></rect></clipPath
        ></defs
      ></svg
    >
  </div>
  <span class="name svelte-1g1n9ik">{name}</span>
</div>
