<footer>
  <p>
    &copy; 2024 <a
        href="https://oulcggc.org/"
        target="_blank"
    >阪大言語サークルGGC</a>
  </p>
  <address>
    <p>
      with ❤️ by
    </p>
    <div class="authors">
      <a href="https://yocjyet.dev/" target="_blank">
          Yo, Cjyet (于拙)  
      </a>
      <!-- TODO: Change to custom domain -->
      <a href="https://homepage-82o.pages.dev/" target="_blank">
          YuNai
      </a>
    </div>
    <p>and more...</p>
  </address>
</footer>

<style>
    footer {
        text-align: center;
        padding: 2em 1em;
        color: white;
        background: rgb(0, 0, 0, 0.8);
    }

    a {
        color: white;
    }
    
    .authors {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }

    address {
        font-style: normal;
        font-size: 0.8em;
    }
</style>