<header class="p-6">
    <span class="font-black">CorpusHub</span>
    <nav>
        <ul class="flex gap-4">
          {[{
              path: '/',
              name: 'Home'
            },{
              path: '/concordancers',
              name: 'Concordancers'
            },{
              path: '/corpora',
              name: 'Corpora'
            },{
              path: '/datasets',
              name: 'Datasets'
            },{
              path: '/dictionaries',
              name: 'Dictionaries'
            },{
              path: '/about',
              name: 'About'
            }
          ].map(({path, name}) => (
            <li><a href={path}
              class={path === Astro.url.pathname ? 'active' : ''}
            >{name}</a></li>
          ))}
        </ul>
    </nav>
    <span
      class="flex-grow"
    ></span>
    <span>
      Login
    </span>
</header>

<style>
    header {
        color: white;
        display: flex;
        gap: 2em
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        display: inline;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
    }

    nav ul li a:hover {
        text-decoration: underline;
    }

    nav ul li a.active {
        font-weight: bold;
    }
</style>