---
import Layout from "../layouts/Layout.astro";

import * as m from "../paraglide/messages";

import { db } from "astro:db";
import { getConcordancers } from "../data";

const concordancers = await getConcordancers(db);
---

<Layout title={m.concordancers()}>
  <main>
    <h1>{m.concordancers()}</h1>
    <ul>
      {
        concordancers.map((corpus) => (
          <li>
            <a href={`/concordancers/${corpus.id}`}>{corpus.name.en}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    @apply text-[#020305] dark:text-white w-full max-w-2xl mx-auto p-4 py-10 transition-colors leading-10;
  }

  h1 {
    @apply m-4 my-10 text-4xl font-bold text-center;
  }

  a {
    @apply hover:underline;
  }
</style>
