---
import Layout from "../layouts/Layout.astro";

import * as m from "../paraglide/messages";

import { db } from "astro:db";
import { getCorpora } from "../data";

const corpora = await getCorpora(db);
---

<Layout title={m.corpora()}>
  <main>
    <h1>{m.corpora()}</h1>
    <ul></ul>
    {
      corpora.map((corpus) => (
        <li>
          <a href={`/corpora/${corpus.id}`}>{corpus.name.en}</a>
        </li>
      ))
    }
  </main>
</Layout>

<style>
  main {
    @apply text-[#020305] dark:text-white w-full max-w-2xl mx-auto p-4 py-10 transition-colors leading-10;
  }

  h1 {
    @apply m-4 my-10 text-4xl font-bold text-center;
  }

  a {
    @apply hover:underline;
  }
</style>
